body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

/* Style for the drawer */
.drawer {
    height: 100%;
    width: 250px; /* Adjust the width as needed */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e6ebe4; /* Change the background color as needed */
    padding-top: 60px; /* Adjust padding to avoid overlapping with the navbar */
    transition: 0.5s;
    margin-top: 59px;
}

.drawer a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #000; /* Change the text color as needed */
    display: block;
    transition: 0.3s;
}

.drawer a:hover {
    background-color: #ddd; /* Change the background color on hover */
}